body {
  margin: 0px;
}

nav {
  background: lightblue;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
}

article {
  background-color: lightcoral;
  box-sizing: border-box;
  margin-left: 60px;
  padding: 20px;
  width: calc(100vw - 75px);
}

p {
  margin-bottom: 400px;
}