h1 {
  margin: 0px;
  padding: 10px;
  background: lightblue;
}

.index1 {
  position: relative;
  background: greenyellow;
  top: 40px;
  z-index: 1;
}

.index2 {
  position: relative;
  background: lightcoral;
  top: -40px;
  z-index: -1;
}