div {
  background: #aaa;
  width: 140px;
  height: 80px;
  border: 10px solid #111;
  padding: 20px;
  margin: 20px;
}

h1 {
  background: #84e;
  padding: 20px;
  margin: 30px;
  border: 4px solid #111;
}