img {
  max-width: 100%;
  display: block;
}

.cover {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

p {
  font-size: 2rem;
}

.cover img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}