body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: #f7f7f7;
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3.75rem;
}

img {
  max-width: 100%;
  display: block;
}

header {
  display: grid;
  gap: 3.75rem;
  justify-items: center;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.menu a {
  background: #ffffff;
  padding: 0.9375rem 1.875rem;
  border-radius: 0.25rem;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid transparent;
}

.menu a:hover {
  border-color:#e21;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 62.5rem;
}

.introducao {
  background: #fff;
  padding: 2.5rem;
  text-align: right;
  position: relative;
  display: grid;
  gap: 1.25rem;
  align-content: center;
  justify-items: end;
}

.introducao h1 {
  font-size: 2rem;
}

.introducao::before {
  content: "";
  width: 3.75rem;
  height: 0.25rem;
  background: #e21;
  display: block;
  position: absolute;
  right: -1.875rem;
  top: 1.875rem;
}

.botao {
  background: #e21;
  color: #fff;
  padding: 0.9375rem 1.875rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

.botao:hover {
  background-color: #900;
}

.subtitulo {
  font-size: 3.75rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 2.5rem;
  align-self: center;
  background-image: url(./img/onda.svg);
  background-position: center;
}

.vantagens {
  background: #fff;
  padding: 2.5rem;
}

.vantagens li:nth-child(odd){
  background-color: #f7f7f7;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.625rem 1.25rem;
  padding: 1.25rem;
  border-left: 4px solid transparent;
  margin-left: -4px;
}

.vantagens-item:hover {
  border-color: #e21;
}

.vantagens-item p {
  grid-column: 2;
}

.rodape {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}


/*------------------------------ Responsividade ------------------------------*/

@media (max-width: 1000px){

  .conteudo {
    max-width: 50rem;
    margin-inline: 3rem;
  }

  .vantagens-item p {
    grid-column: 1 / -1;
  }

  .vantagens-item {
    grid-template-columns: 1.5rem auto;
  }

  .subtitulo {
    font-size: 3rem;
  }
}

@media (max-width: 680px){
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    margin-inline: 0.625rem;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
  }

  .menu a {
    display: block;
  }

  .conteudo {
    grid-template-columns: 1fr;
    max-width: 25rem;
    border-radius: 6px;
    overflow: hidden;
    align-items: center;
    margin-inline: 0.625rem;
  }

  .introducao {
    justify-items: center;
    text-align: center;
    max-width: 30rem;
    box-sizing: border-box;
    background-image: url(./img/bicicleta.jpg);
    background: cover;
    background-size: cover;
    color: #fff;
    background-position: center;
  }

  .hidden {
    display: none;
  }

  .introducao::before {
    display: none;
  }

  .subtitulo {
    text-align: center;
  }
  
}

.fit {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
