body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 0px;
}

.comprar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #a8f;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  color: #103;
}

.item {
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 4px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}